@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
    --primary-text-color: #122841;
    --primary-color: #3072B9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--primary-text-color) !important;
}

.btn {
  background: var(--primary-color);
}

.bg-primary {
  background: var(--primary-text-color) !important;
}